/* globals.css - Mise à jour pour la responsivité */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gray-dark {
    color: #333; /* Remplacez par la couleur souhaitée */
  }
}

@layer utilities {
  .text-teal {
    color: #008080; /* Teal standard */
  }
}


@layer base {
  html, body {
    @apply bg-gray-200 text-gray-dark font-sans;
    line-height: 1.6;
    scroll-behavior: smooth;
  }

  a {
    @apply text-teal;
  }

 
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-teal;
  }

  p {
    @apply mb-4;
  }


  .react-calendar {
    @apply bg-white rounded-lg shadow-lg p-4;
  }

  .react-calendar__tile {
    @apply text-gray-dark hover:bg-teal hover:text-white;
  }

  .react-calendar__tile--now {
    @apply bg-yellow text-white;
  }

  .react-calendar__tile--active {
    @apply bg-teal text-white;
  }

  .btn {
    @apply inline-block font-semibold text-center rounded transition duration-300;
  }


  .card:hover {
    @apply transform scale-105 shadow-xl transition duration-300;
  }

  /* Responsiveness */
  .responsive-text {
    @apply text-sm md:text-base lg:text-lg;
    font-weight: 400;
    @screen md {
      font-weight: 600;
    }
    @screen lg {
      font-weight: 700;
    }
  }

  .responsive-padding {
    @apply p-2 md:p-4 lg:p-6;
  }
}
